.app {
  text-align: center;
  min-height: 100vh;
}

.app-header {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  height: 6vw;
}

.app-header > * {
  margin: 0 1%;
  align-self: center;
}

.content {
  display: flex;
  justify-content: center;
  min-height: 35vh;
}
